@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #0f172a; /* Slate 900 */
  background-color: #f8fafc; /* Slate 50 */
}

body {
  margin: 0;
  display: block; /* Removed flex and place-items center to allow proper layout */
  min-width: 320px;
  min-height: 100vh;
}
